@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@font-face {
  font-family: 'gothambold';
  src: url(../fonts/gotham/gothambold-webfont.woff2) format("woff2"), url(../fonts/gotham/gothambold-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothambook';
  src: url(../fonts/gotham/gotham-book-webfont.woff2) format("woff2"), url(../fonts/gotham/gotham-book-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "gothambook", sans-serif;
  background-color: #282c34;
  color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "gothambold", sans-serif;
  letter-spacing: -0.04em;
  color: #f3f3f3;
}

h1 {
  font-size: 1.5em;
}

p {
  font-size: 0.8em;
}

header {
  min-height: 4em;
  background-color: #f3f3f3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
  -webkit-box-shadow: 0 -0.3em 0.9em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 -0.3em 0.9em 1em rgba(0, 0, 0, 0.3);
  position: relative;
}

header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  display: block;
  width: 9em;
  padding-right: 1em;
  border-right: thin rgba(0, 0, 0, 0.2) solid;
  -webkit-filter: drop-shadow(0.3em 0.3em 0.03em #61dafb);
          filter: drop-shadow(0.3em 0.3em 0.03em #61dafb);
}

header h3 {
  color: #61dafb;
  font-size: 1em;
  margin-right: 2em;
  padding-left: 1em;
}

main .row {
  min-height: calc(100vh - 4em);
}

.main-content-wrap {
  padding: 1.5em;
}

.main-content-wrap .content {
  min-height: 100%;
  -webkit-box-shadow: inset 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2), inset -0.5em -0.5em 0.5em rgba(255, 255, 255, 0.1);
          box-shadow: inset 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2), inset -0.5em -0.5em 0.5em rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
}

.movie-cat {
  padding: 2.2em 1.6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie-item {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 0.3em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24.1em;
          flex: 0 0 24.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5em;
  border: thin rgba(255, 255, 255, 0.07) solid;
  -webkit-box-shadow: 0 1.5em 0.9em -0.8em rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5em 0.9em -0.8em rgba(0, 0, 0, 0.15);
  position: relative;
}

.movie-title {
  padding-top: 0.5em;
  color: #61dafb;
}

.item-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
  cursor: pointer;
}

.item-btns i {
  width: 2.1em;
  height: 2.1em;
  border-radius: 50%;
  text-align: center;
  line-height: 2.2em;
}

.edit {
  background-color: #737885;
}

.trash {
  background-color: red;
  margin-left: 0.3em;
}

.movie-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  height: 207px;
  background-color: black;
  border-radius: 0.3em;
  overflow: hidden;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.15)));
}

.movie-image img {
  display: block;
  max-width: 100%;
}

.movie-content-wrap {
  margin-left: 1em;
}

.movie-content-wrap span {
  font-family: "gothambold", sans-serif;
}

.movie-bio {
  padding-bottom: 1em;
  border-bottom: thin rgba(255, 255, 255, 0.1) solid;
}

.movie-rating {
  text-transform: uppercase;
}

.movie-item:not(:last-child) {
  margin-right: 1.5em;
}

.sidebar {
  background-color: #44474e;
  background-image: linear-gradient(-45deg, #383a41 0%, #282c34 100%);
  padding: 1.5em;
}

.sidebar h1 {
  margin: 1.5em 0;
  text-transform: uppercase;
  font-size: 1.2em;
}

.sidebar h1 span {
  color: #61dafb;
}

.form-group {
  -webkit-box-shadow: inset 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3), inset -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.1);
          box-shadow: inset 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3), inset -0.2em -0.2em 0.3em rgba(255, 255, 255, 0.1);
  border-radius: 0.5em;
  padding: 0.7em;
}

.form-group input, .form-group textarea {
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  padding: 0.3em;
  color: #61dafb;
}

.form-group input::-webkit-input-placeholder, .form-group textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #61dafb;
}

.form-group input:-ms-input-placeholder, .form-group textarea:-ms-input-placeholder {
  opacity: 1;
  color: #61dafb;
}

.form-group input::-ms-input-placeholder, .form-group textarea::-ms-input-placeholder {
  opacity: 1;
  color: #61dafb;
}

.form-group input::placeholder, .form-group textarea::placeholder {
  opacity: 1;
  color: #61dafb;
}

.form-group input:focus, .form-group textarea:focus {
  outline: none;
}

.cta {
  border: none;
  padding: 0.5em 1.5em;
  background-color: #61dafb;
  margin-top: 0.5em;
  border-radius: 0.2em;
  color: #282c34;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  font-family: "gothambold", sans-serif;
}

.cta:hover {
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 0.5em 0.8em -0.5em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 0.8em -0.5em rgba(0, 0, 0, 0.3);
}

.cta:focus {
  outline: none;
}
/*# sourceMappingURL=app.css.map */