@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

//--- custom fonts
@font-face {
    font-family: 'gothambold';
    src: url(../fonts/gotham/gothambold-webfont.woff2) format('woff2'),
         url(../fonts/gotham/gothambold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambook';
    src: url(../fonts/gotham/gotham-book-webfont.woff2) format('woff2'),
         url(../fonts/gotham/gotham-book-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


$bg-color: #282c34;
$accent-color: #61dafb;
$light-color: #f3f3f3;
$mid-color: lighten(#2c2e33, 10%);

$bg-green: #69da69;
$bg-blue: #77cbff;

$primary-font: "gothambook", sans-serif;
$primary-font-bold: "gothambold", sans-serif;

body {
    font-family: $primary-font;
    background-color: $bg-color;
    color: $light-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font-bold;
    letter-spacing: -0.04em;
    color: $light-color;
}

h1 {
    font-size: 1.5em;
}

p {
    font-size: 0.8em;
}

header {
    min-height: 4em;
    background-color: $light-color;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 50;
    box-shadow: 0 -0.3em 0.9em 1em rgba(0,0,0,0.3);
    position: relative;

    & > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    img {
        display: block;
        width: 9em;
        padding-right: 1em;
        border-right: thin rgba(0,0,0,0.2) solid;
        filter: drop-shadow(0.3em 0.3em 0.03em $accent-color);
    }

    h3 {
        color: $accent-color;
        font-size: 1em;
        margin-right: 2em;
        padding-left: 1em;
    }
}

main {
    .row {
        min-height: calc(100vh - 4em);
    }
}

.main-content-wrap {
    padding: 1.5em;

    .content {
        min-height: 100%;
        box-shadow: inset 0.5em 0.5em 0.5em rgba(0,0,0,0.2),
                    inset -0.5em -0.5em 0.5em rgba(255,255,255,0.1);
        border-radius: 0.5em;
    }
}

.movie-cat {
    padding: 2.2em 1.6em;
    display: flex;
    flex-wrap: wrap;
}

.movie-item {
    background-color: rgba(0,0,0,0.2);
    padding: 1em;
    border-radius: 0.3em;
    flex: 0 0 24.1em;
    display: flex;
    margin-bottom: 1.5em;
    border: thin rgba(255,255,255,0.07) solid;
    box-shadow: 0 1.5em 0.9em -0.8em rgba(0,0,0,0.15);
    position: relative;

    .form-group {
        box-shadow: inset 0.1em 0.1em 0.2em rgba(0,0,0,0.3),
                    inset -0.1em -0.1em 0.2em rgba(255,255,255,0.1);
        border-radius: 0.2em;
        padding: 0.2em;
    }
}

.movie-title {
    padding-top: 0.5em;
    color: $accent-color;
}

.item-btns {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(10%, -50%);
    cursor: pointer;

    i {
        width: 2.1em;
        height: 2.1em;
        border-radius: 50%;
        text-align: center;
        line-height: 2.2em;
    }
}

.trash {
    background-color: red;
    margin-left: 0.3em;
}

.movie-image {
    flex: 0 0 40%;
    height: 207px;
    background-color: black;
    border-radius: 0.3em;
    overflow: hidden;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent) , to(rgba(255, 255, 255, 0.15)));
    
    img {
        display: block;
        max-width: 100%;
    }
}

.movie-content-wrap {
    margin-left: 1em;

    span {
        font-family: $primary-font-bold;
    }
}

.movie-bio {
    padding-bottom: 1em;
    border-bottom: thin rgba(255,255,255,0.1) solid;
}

.movie-rating {
    text-transform: uppercase;
}

.movie-item:not(:last-child) {
    margin-right: 1.5em
}

.sidebar {
    background-color: $mid-color;
    background-image: linear-gradient(-45deg, darken($mid-color, 5%) 0%, $bg-color 100%);
    padding: 1.5em;
    
    h1 {
        margin: 1.5em 0;
        text-transform: uppercase;
        font-size: 1.2em;

        span {
            color: $accent-color;
        }
    }
}

.form-group {
    box-shadow: inset 0.2em 0.2em 0.3em rgba(0,0,0,0.3),
                inset -0.2em -0.2em 0.3em rgba(255,255,255,0.1);
    border-radius: 0.5em;
    padding: 0.7em;
}

.form-group input, .form-group textarea {
    background-color: transparent;
    border: none;
    display: block;
    width: 100%;
    padding: 0.3em;
    color: $accent-color;

    &::placeholder {
        opacity: 1;
        color: $accent-color;
    }

    &:focus {
        outline: none;
    }
}

.cta {
    border: none;
    padding: 0.5em 1.5em;
    background-color: $accent-color;
    margin-top: 0.5em;
    border-radius: 0.2em;
    color: $bg-color;
    transition: ease 0.3s all;
    font-family: $primary-font-bold;

    &:hover {
        background-color: $light-color;
        box-shadow: 0 0.5em 0.8em -0.5em rgba(0,0,0,0.3);
    }

    &:focus {
        outline: none;
    }
}


